* {
  margin: 0px;
  padding: 0px;
}

body {
  background: url('images/body_background.gif') #4a4848 repeat-x 0px 0px;
  color: #a7a7a7;
  font-family: tahoma, arial, sans-serif;
  font-size: 11px;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ea9a2e;
}


img {
  border: none;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

p {
  margin: 10px 0px 20px;
  text-align: left;
  line-height: 15px;
}

.clearthis {
  clear : both;
  line-height : 0px;
}


#container {
  margin: 0px auto;
  width: 880px;
  text-align: left;
}


/* Page Header */

#page_header {
  width: 880px;
  height: 122px;
  background: url('images/header_background.gif') no-repeat 0px 0px;
}

#company_name {
  padding-left: 204px;
  padding-top:30px;
  height: 122px;
}

#company_name h1 {
  width: 155px;
  height: 32px;
}


/* Page Menu */

#page_menu {
  width: 880px;
  height: 50px;
  text-align: center;
  font-size: 12px;
  margin:auto;
  margin-bottom: 14px;
}

#page_menu ul {
  height: 50px;
  width: 880px;
}

#page_menu li {
  width: 120px;
  height: 50px;
  background: url('images/film.png') no-repeat 0px 0px;
  float: left;
}

#page_menu li a {
  height:50px;
  width: 120px;
  display: block;
  padding-top:17px;
  font-size:12px;
  color:#000;
}

#page_menu a:hover {
  height:50px;
  width: 120px;
  background: url('images/film_aktiv.png') no-repeat 0px 0px;
}

#page_menu a.current {
  height:50px;
  width: 120px;
  background: url('images/film_aktiv.png') no-repeat 0px 0px;
}

/* Page Body Content */

.content_header {
  height: 38px;
  background: url('images/main_bg_topright.gif') #353434 no-repeat 100% 0px;
  overflow: hidden;
}

.content_header h2 {
  padding-left: 41px;
  height: 38px;
  background: url('images/main_bg_topleft.gif') no-repeat 0px 0px;
}

.content_box_right {
  margin-bottom: 8px;
  background: url('images/main_bg_botright.gif') #353434 no-repeat 100% 100%;
}

.content_box_left{
  padding-bottom: 12px;
  background: url('images/main_bg_botleft.gif') no-repeat 0px 100%;
}

.content_box {
  padding: 5px 13px;
}

.content_box .thumbnail {
  float: left;
  border: #a1a19e 1px solid;
}

.content_box h3 {
  padding-top: 10px;
  padding-bottom: 3px;
  font-size: 14px;
  font-weight: normal;
}


/* Left Sidebar */

#left_sidebar {
  padding-left: 17px;
  float: left;
}

#left_sidebar .content_header {
  width: 234px;
}

#left_sidebar .content_header h2 {
  color: #9bb74b;
  font-weight: bold;
  font-size: 11px;
  line-height: 11px;
}

#left_sidebar .content_header h2 span {
  display: block;
  padding-top: 10px;
}

#left_sidebar .content_box_left {
  width: 234px;
}

#left_sidebar .content_box {
  background: url('images/left_sidebar_bg.gif') repeat-y 0px 0px;
}

#left_sidebar .link-more {
  padding-top: 2px;
  text-align: right;
}

#left_sidebar .link-more a {
  color: #a7a7a7;
  font-weight: bold;
}

#left_sidebar .link-more a:hover {
  color: #f1af3b;
}


/* Main Content */

#main_content {
  padding-right: 17px;
  float: right;
}

#main_content .content_header {
  width: 594px;
}

#main_content .content_header h2 {
  color: #f89d31;
  font-size: 12px;
  line-height: 12px;
}

#main_content .content_header h2 span {
  display: block;
  padding-left: 3px;
  padding-top: 10px;
}

#main_content .content_box_left {
  width: 594px;
}

#main_content .content_box {
  padding: 5px 11px 0px 0px;
  background: url('images/main_background.gif') no-repeat 100% 0%;
  border-width: 0px 2px;
  border-color: #d2913d;
  border-style: solid;
}

#main_content_border {
  padding-left: 42px;
  background: url('images/main_bg_side.gif') repeat-y 5px -1px;
}

#main_content .link-more {
  padding-bottom: 7px;
  padding-right: 5px;
  text-align: right;
  line-height: 11px;
}

#main_content .link-more a {
  color: #ea9a2e;
  font-weight: bold;
}

#main_content .link-more a:hover {
  color: #f7ec37;
}

#main_content .divider {
  margin: 0px auto 7px 2px;
  width: 522px;
  height: 3px;
  background: url('images/main_divider.gif') repeat-x 0px 0px;
  overflow: hidden;
}


/* Top Masters */

.topmasters {
  padding: 6px 0px;
}

.topmasters_info {
  float: right;
  width: 483px;
}

.topmasters_info p {
  margin-bottom: 0px;
  padding: 0px 5px 10px 0px;
}

.text {
  margin-bottom:30px;
}

.read{
float:right;
margin-bottom:-10px;
}

/* Page Footer */

#page_footer {
  padding: 2px 10px 15px;
  color: #adacab;
  text-align: center;
}

#page_footer a {
  color: #adacab;
  text-decoration: underline;
}

#page_footer a:hover {
  color: #f7ec37;
}

/* comment stuff */

.commentblock {
    color:#333;
}

.commentblock a {
    clear: left;
    margin: 0 0 25px;
    padding: 25px 0 0;
    color:#22f;
}

.commentform, 
.commentform a:link {
 color: #999;
}
